
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Hiker</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_seenwanderung" >
	<tr>
		<th><f:translate key="tx_seenwanderung_domain_model_hiker.sex" /></th>
		<th><f:translate key="tx_seenwanderung_domain_model_hiker.first_name" /></th>
		<th><f:translate key="tx_seenwanderung_domain_model_hiker.last_name" /></th>
		<th><f:translate key="tx_seenwanderung_domain_model_hiker.birthday" /></th>
		<th><f:translate key="tx_seenwanderung_domain_model_hiker.street" /></th>
		<th><f:translate key="tx_seenwanderung_domain_model_hiker.street_number" /></th>
		<th><f:translate key="tx_seenwanderung_domain_model_hiker.zip" /></th>
		<th><f:translate key="tx_seenwanderung_domain_model_hiker.city" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{hikers}" as="hiker">
		<tr>
			<td><f:link.action action="show" arguments="{hiker : hiker}"> {hiker.sex}</f:link.action></td>
			<td><f:link.action action="show" arguments="{hiker : hiker}"> {hiker.firstName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{hiker : hiker}"> {hiker.lastName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{hiker : hiker}"> {hiker.birthday -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{hiker : hiker}"> {hiker.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{hiker : hiker}"> {hiker.streetNumber}</f:link.action></td>
			<td><f:link.action action="show" arguments="{hiker : hiker}"> {hiker.zip}</f:link.action></td>
			<td><f:link.action action="show" arguments="{hiker : hiker}"> {hiker.city}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{hiker : hiker}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{hiker : hiker}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Hiker</f:link.action>
</f:section>