
<label for="sex">
	<f:translate key="tx_seenwanderung_domain_model_hiker.sex" />
</label><br />
	<f:form.textfield property="sex" /><br />
<label for="firstName">
	<f:translate key="tx_seenwanderung_domain_model_hiker.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_seenwanderung_domain_model_hiker.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="birthday">
	<f:translate key="tx_seenwanderung_domain_model_hiker.birthday" />
</label><br />
	<f:form.textfield property="birthday"  value="{hiker.birthday->f:format.date()}" /><br />
<label for="street">
	<f:translate key="tx_seenwanderung_domain_model_hiker.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="streetNumber">
	<f:translate key="tx_seenwanderung_domain_model_hiker.street_number" />
</label><br />
	<f:form.textfield property="streetNumber" /><br />
<label for="zip">
	<f:translate key="tx_seenwanderung_domain_model_hiker.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_seenwanderung_domain_model_hiker.city" />
</label><br />
	<f:form.textfield property="city" /><br />