
<table class="tx-seenwanderung" >
	<tr>
		<td>
			<f:translate key="tx_seenwanderung_domain_model_hiker.sex" />
		</td>
		<td>
		{hiker.sex}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_seenwanderung_domain_model_hiker.first_name" />
		</td>
		<td>
		{hiker.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_seenwanderung_domain_model_hiker.last_name" />
		</td>
		<td>
		{hiker.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_seenwanderung_domain_model_hiker.birthday" />
		</td>
		<td>
		{hiker.birthday -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_seenwanderung_domain_model_hiker.street" />
		</td>
		<td>
		{hiker.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_seenwanderung_domain_model_hiker.street_number" />
		</td>
		<td>
		{hiker.streetNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_seenwanderung_domain_model_hiker.zip" />
		</td>
		<td>
		{hiker.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_seenwanderung_domain_model_hiker.city" />
		</td>
		<td>
		{hiker.city}
		</td>
	</tr>
</table>